<!DOCTYPE html>
<html>
<head>
  <title>Xask</title>
  <%= stylesheet_link_tag  "bootstrap.css" ,"todc-bootstrap.css", "bootstrap-responsive.min.css" %>
  <%= javascript_include_tag "jquery-1.9.1.min.js", "bootstrap.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'layouts/top_nav' %>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
